html {
  min-height: 100%;
  position: relative;
  font-size: 14px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft YaHei";
  min-height: 100%;
  height: 100%;
  background-color: #f0f0f0;
}
a, a:hover {
  color: #333;
  text-decoration: none;
}
.rela {
  position: relative;
}
.absol {
  position: absolute;
}
.fixed {
  position: fixed;
}
.mrt30 {
  margin-top: 30px;
}
.mrb30 {
  margin-bottom: 30px;
}
.pd30 {
  padding: 30px;
}
.animated {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.main-title {
  font-size: 1.4rem;
  font-weight: 400;
}
.sub-title {
  color: #999;
}
.main-word {
  line-height: 1.8rem;
}
/* cover bootstrap */
.thumbnail {
  padding-top: 1rem;
  margin-bottom: 30px;
}
.thumbnail .caption {
  padding: 1rem;
}

/* nav */
.main-nav {
  background: #fff;
  margin: 0 -15px 0 -15px;
  padding-top: 10px;
}
.nav ul li a {
  display: block;
  line-height: 3rem;
}

/* banner */
.top-banner-container {
  position: relative;
}
.top-banner-container .unslider-nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}
.top-banner-container .unslider-nav ol li {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-top: 10px;
}
.top-banner img {
  width: 100%;
}
.word-slider {
  font-weight: 200;
  font-size: 5rem;
}
.banner a {
  display: block;
  text-align: center;
}
.banner a img {
  width: 100%;
}

/* feature */
.feature {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
}
.feature > div {
  position: relative;
  width: auto;
  flex: 1;
  border-left: 1px solid #ddd;
  padding: 1rem 3rem;
  z-index: 3;
  transition: .5s ease;
  background-color: #e7e7e7;
}
.feature > div:hover {
  transform: scale(1.2);
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  z-index: 4;
}
.feature .title {
  margin-top: 10px;
}
.feature .desc {
  color: #aaa;
}

.img-intro img {
  width: 100%;
}
.word-intro .bg {
  top: 0;
  left: 0;
  bottom:0;
  z-index: -1;
  opacity: .4;
  overflow: hidden;
}

/* picture-description */
.pic-desc .desc, .product-content .desc {
  padding: 3rem 6rem;
}

/* footer */
.footer {
  font-size: 0.8rem;
  color: #777;
  text-align: center;
  background: #fff;
  padding-top: 20px;
}
.footer > .nav {
  margin-bottom: 10px;
}
/* product page */
.intros .unslider-arrow {
  top: 50%;
  transform: translateY(-100%);
}
.intros .unslider-arrow.prev {
  -moz-transform:scaleX(-1) translateY(-100%);
  -webkit-transform:scaleX(-1) translateY(-100%);
  -o-transform:scaleX(-1) translateY(-100%);
  transform:scaleX(-1) translateY(-100%);
  filter:FlipH;/*IE*/
}
.intro-slider p {
  width: 60%;
  margin: 15px auto 0 auto;
}
.product-nav > ul {
  display: inline-block;
}
.product-box {
  border-top: 1px solid #ccc;
  background-color: #fff;
  padding: 20px 40px 60px 40px;
}

/* news page */
.news {
  background: rgba(0,0,0,0.1);
}
.news .news-top {
  margin-top: -40rem;
}
.news-bg {
  left: 0;right: 0;top: 0;bottom: 0;
  margin: 0 -15px;
  height: 600px;
  background: hsla(0, 0%, 100%, .3);
  overflow: hidden;
}
.news-bg::before {
  background: url(../img/bg-2.jpg) 0 / cover fixed;
  content: '';
  position: absolute;
  left: 0;right: 0;top: 0;bottom: 0;
  filter: blur(10px);
}
.news .news-title {
  border-left: 5px solid #fff;
  padding-left: 2rem;
  color: #fff;
}
.news .news-main .media {
  margin-bottom: 30px;
}
.news .news-main .media-body {
  padding: 0 1.2rem;
  color: #fff;
}
.news-wrapper {
  border: 1px solid #fff;
  border-radius: 4px;
  overflow: hidden;
  height: 17rem;
}
.news-wrapper ul li {
  line-height: 2rem;
  border-bottom: 1px dashed #fff;
  color: #fff;
  margin: 0 1rem;
}
.news .panel {
  box-shadow: 1px 1px 10px rgba(50, 46, 46, 0.51)
}

/* download page */
.software .desc {
  min-height: 12rem;
}

/* help page */
.form-inline.search-box input {
  width: 15rem;
  transition: width .5s ease;
}
.search-box input:focus {
  width: 30rem;
}
.help-content {
  background-color: #fff;
  padding: 2rem 4rem;
}
.help-content img {
  max-width: 100%;
}
.help-content > p {
  line-height: 1.8rem;
}

/* about page */
.about-title .img {
  height: 20rem;
  background: url(../img/about.png) no-repeat;
}
.about-content, .about-content div {
  background-color: #fff;
}
.about-content > div {
  margin-top: -4rem;
  box-shadow: 1px 1px 10px rgba(156, 156, 156, 0.48);
}
.about-content > div > div {
  padding: 1.5rem;
  line-height: 2rem;
}
.about .img-list li {
  margin-bottom: .5rem;
}

/* academe */
.academe img {
  transition: .5s ease;
}
.academe img.first:hover {
  transform:rotate(15deg)
}
.academe img.second:hover {
  transform:rotate(-15deg)
}
.academe table {
  background-color: #fff;
}

/* analysis */
.analysis-tabs a {
  padding: 2rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: inset 5px -5px 25px 0 rgba(0,0,0,.1);
}
.analysis-tabs a.active {
  box-shadow: none;``
}
.comment-area {
  padding-bottom: 7rem;
  margin-bottom: 3rem;
  background: #fefefe;
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 3px;
  overflow: hidden;
  display: block;
  transition: box-shadow .2s ease,opacity .2s ease;
}
.comment-area:hover {
  box-shadow: 0 10px 50px rgba(102,136,153,.15);
}
.comment-area .bg-img {
  height: 18rem;
  width: 100%;
  background-image: url(../img/talk-bg.jpg);
  background-size: cover;
  background-position: 50%;
}
.comment-area:hover .comment-content {
  transform: translateY(3.5rem);
  background: #fefefe;
}
.analysis .comment-content {
  padding: 40px 45px;
  border: 1px solid rgba(0,0,0,.05);
  background: hsla(0,0%,100%,.95);
  box-shadow: 0 3px 20px 0 rgba(0,0,0,.05);
  transform: translateY(4.5rem);
  transition: all .2s ease;
}


